cloud_id                 = "b1gikqk7igq3r6fauv3e"
folder_id                = "b1gn3qkiobqao5rviv11"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/ubuntu.pub"
private_key_path         = "~/.ssh/ubuntu"
image_id                 = "fd8n552gtuc8uqg52h9b"
subnet_id                = "e9bveo7053lg65h96cqc"
service_account_key_file = "./key.json"
instance_count                    = "1"
app_disk_image			 = "fd8duqobg9m8h5mt3e2v"
db_disk_image			 = "fd8s9t6nu4l9rh756050"
s3_access_key 			 = "YCAJETQ7PmoyMeI_ttTmirR9h"
s3_secret_key 			 = "YCPq7LOBFMNN9TjwCVfzNIPV6ifNNaMcIpm62Qe5"
bucket_name              = "terraform-rb"
enable_provision         = true
